	@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
		body{
			background-color:#252525;
		
			
		}
		*{
			margin:0;
			padding: 0;
			font-family: 'Roboto', sans-serif;
		}
		.menu_bar{
    		position: fixed;
    		background-color: transparent;
    		height: 110px;
    		line-height: 110px;
    		transition: height .4s ease-in;
    		width: 100%;
    		z-index: 999;
		}
		.menu_bar.fixo{
			background: #1d1d1d;
			height: 80px;
			line-height: 80px;
		}
		.menu_bar h1{
			font-weight: 100;
			text-align: center;
    		opacity: 0;
    		color: #ffffff;
    		bottom: 0;
		}
		.menu_bar h1 span{
			font-weight: 700;
		}

		.menu_bar.fixo h1{
			display: block;
			opacity: 0.7;
			transition: opacity .4s ease-in;
		}

		.site-content{
			position: relative;
			transition: all 0.5s ease-in;
			color:#ffffff;
			font-weight: 100;
			max-width: 100vw;
			margin: 0 auto;
		}
		.menu{
			position: fixed;
			top: -100vh;
			opacity: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: all 0.5s ease-in;
			z-index: 998;
		}
		.menu ul{
			margin: 20px;
			padding: 10px;
			list-style: none;
			text-align: center;
		}
		.menu li{
			text-align: center;
			display: block;
			padding: 30px;
		}
		.menu a{
			border-bottom: 1px solid #4C4C4C;
			font-weight: 100;
			color: #4C4C4C;
			padding: 10px;
			font-size: 50px;
			text-decoration: none;
			transition: all .2s ease-in;
		}
		.menu a:hover{
			font-weight: 900;
			letter-spacing: -2px;
			border-bottom:5px solid;
		}

		.menu .first a:hover{
			border-color: 2px solid #FF6700;
			color: #FF6700;
		}


		.menu .second a:hover{
			border-color: #FF0046;
			color: #FF0046;
		}

		.menu .third a:hover{
			border-color: #8F0CFF;
			color: #8F0CFF;
		}
		
		#menu_opener_id {
		  display: none;
		}

		
		#menu_opener_id:checked ~ .menu{
			top:0px;
			background-color: #222;
			opacity: 1;
			left: 0px;
		}

		#menu_opener_id:checked ~ .site-content{
			opacity: 0;
		}

		#menu_opener_id:checked ~ label:hover{
			background-color: #FF6700;
		}

		label {
		  display: block;
		  position: absolute;
		  right: 60px;
		  bottom: 10px;
		  overflow: hidden;
		  margin: 0;
		  padding: 0;
		  width: 56px;
		  height: 56px;
		  font-size: 0;
		  text-indent: -9999px;
		  box-shadow: none;
		  border-radius: 50%;
		  border: none;
		  cursor: pointer;
		  transition: background 0.3s;
		  z-index: 999;
		}

		label:focus {
		  outline: none;
		}


		label span {
		  display: block;
		  position: absolute;
		  top: 27px;
		  left: 18px;
		  right: 18px;
		  height: 1px;
		  background: white;
		}

		label span::before,
		label span::after {
		  position: absolute;
		  display: block;
		  left: 0;
		  width: 100%;
		  height: 1px;
		  background-color: white;
		  content: "";
		}

		label span::before {
		  top: -5px;
		}

		label span::after {
		  bottom: -5px;
		}
		label:hover span::before {
		  top: -10px;
		  border: 1px solid:#fff;
		}

		label:hover span::after {
		  bottom: -10px;
		  border: 1px solid:#fff;
		}

		label {
		  background-color: rgba(0,0,0,0);
		}

		
		label span {
		  transition: all 0.3s;
		}
		
		label:hover{
			background-color: #8F0CFF;
		}

		label span::before {
		  transform-origin: top right;
		  transition: transform 0.3s, width 0.3s, top 0.3s;
		}

		label span::after {
		  transform-origin: bottom right;
		  transition: transform 0.3s, width 0.3s, bottom 0.3s;
		}

		/* active state, i.e. menu open */
		#menu_opener_id:checked ~ label {
		  background-color: rgba(0,0,0,0.5);
		}

		#menu_opener_id:checked ~ label span {
		  transform: rotate(270deg);
		}

		#menu_opener_id:checked ~ label span::before,
		#menu_opener_id:checked ~ label span::after {
		  width: 50%;
		}

		#menu_opener_id:checked ~ label span::before {
		  top: 0;
		  transform: translateX(10px) translateY(0px) rotate(45deg)
		}

		#menu_opener_id:checked ~ label span::after {
		  bottom: 0;
		  transform: translateX(10px) translateY(0px) rotate(-45deg);
		}

		section{
			min-height: 100vh;
			padding: 10vh;
		}

		section h1{
			text-align: center;
    		font-size: 36px;
    		font-weight: 100;
    		margin: 80px 0px;
			}

		section h1:after{
			display: block;
			content: "";
			height: 1px;
			width: 50px;
			margin: 15px auto 20px;
			position: relative;
			background-color: #FF6700;
		}
		/* Start */

		.initial {
			  position: relative;
			  top: 0;
			  right: 0;
			  bottom: 0;
			  left: 0;
			  z-index: -100;
			 padding: 0;
			 overflow: hidden;
		}

		.initial video {
		  position: absolute;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		}

		@media (min-aspect-ratio: 16/9) {
		  .initial video {
		    height: 300%;
		    top: -100%;
		  }
		}

		@media (max-aspect-ratio: 16/9) {
		  .initial video {
		    width: 300%;
		    left: -100%;
		  }
		}

		@media (max-width: 767px) {
		  .initial {
		    background: url('http://creative-minds.pt/wp-content/uploads/2014/06/print.jpg') center center / cover no-repeat;
		  }

		  .initial video {
		    display: none;
		  }
		}

		.initial div{
			text-align: center;
  			position: absolute;
  			top: 50%;
  			left: 50%;
  			padding: 100vh 0%;
  			width: 100%;
		  	transform: translate(-50%, -50%);
		  	z-index: 1;
		  	background-color: rgba(0,0,0,0.5);
		}
		.initial h1{
			font-weight: 100;
			font-size: 3.5rem;
		}
		.initial span{
			font-weight: 900;
		}


		/* Projects */	

		

		#projects{
			padding: 0;
		}	

		#projects video{
			width: 100%;
			height: auto;
		}

		#projects h1:after{
			background-color:#FF0046;
		}

		#projects .tiled-work-item{
			width: 50%;
			float: left;
		}

		@media only screen and (max-width: 600px) {
    	#projects .tiled-work-item{ 
        		width: 100%;
        		margin: 10px 0px;
    		}
		}

		.tiled-work-item a{
			display: block;
		}

		.tiled-item{
			overflow: hidden;
			position: relative;
		}
    


		.tiled-item .item{
			background-color: #000;
		}

		.tiled-item.hasVideo .item .tile-video{
			position: absolute;
		    top: 0;
		    left: 0;
		    height: 100%;
		    width: 100%;
		}
		.tiled-item img{
			opacity: 1;
			position: relative;
		    z-index: 100;
		    width: 100%;
		    -webkit-transition: -webkit-transform .5s,-webkit-filter .5s;
		    transition: transform .5s,filter .5s;
		}
		
		.tiled-item .item .rollover{
			width: 100%;
		    height: 100%;
		    position: absolute;
		    top: 0;
		    left: 0;
		    opacity: 1;
		    transition: opacity .5s;
		    -webkit-transition: opacity .5s;
		    z-index: 200;
		}
	
		.rollover:hover .rolloverbg{
		    opacity: 0 !important;
		}


		.rollover > .textcontainer .button ,.rollover > .textcontainer .title{
			opacity: 0;
		}		

		.rollover:hover > .textcontainer .button, .rollover:hover > .textcontainer .title{
			opacity: 1;
		}
			
		.tiled-item .item .textcontainer{
		    position: absolute;
		    left: 0;
		    right: 0;
		    margin: auto;
		    -webkit-transform: translate(0,-50%);
		    transform: translate(0,-50%);
		    top: calc(50% - 10px);
		    transition: all .5s;
		    -webkit-transition: all .5s;
		    overflow: visible;
		    text-align: center;
		    height: 16px;
		}

		.rollover:hover > .textcontainer{
			height: 156px;	
		}

		.rollover:hover + img{
			opacity: 0;
		}

		.item img{
			transition: opacity .5s;
		    -webkit-transition: opacity .5s;
		}
		.tiled-item .item .textcontainer p{
			display: inline;
			color: #fff;
			text-transform: uppercase;
			letter-spacing: .18em;
			font-size: 1rem;
		}
		.tiled-work-item .item .textcontainer h2{
			font-weight: 700;
    		font-size: 3rem;
    		text-transform: uppercase;
		}
		
		.tiled-item .item .textcontainer .button{
		    border: 3px solid #FFF;
		    width: 260px;
		    height: 50px;
		    margin: 0 auto;
		    position: relative;
		    overflow: hidden;
		    transition: background-color .5s,opacity .5s,border .3s;
		    -webkit-transition: background-color .5s,opacity .5s,border .3s;
		    box-sizing: border-box;

		}
		.tiled-item .item .textcontainer .button:hover{
			background-color:#FF0046;
			border: 3px solid #FF0046;
		}

		.tiled-item .item .textcontainer .button p{
			display: block;
    		color: #fff;
    		width: 100%;
    		position: absolute;
    		left: 0;
    		right: 0;
    		margin: auto;
    		top: 50%;
    		-webkit-transform: translate(0,-50%);
    		transform: translate(0,-50%);
    		transition: color .5s;
		    -webkit-transition: color .5s;
		    font-size: .9rem ;
		}

		.tiled-item .item .textcontainer .title{
		    display: block;
		    color: #FFF;
		    transition: opacity 1s;
		    -webkit-transition: opacity 1s;
		}

		.tiled-item .item .rollover .rolloverbg{
		    width: 100%;
		    height: 100%;
		    background-color: #000;
		    position: absolute;
		    opacity: .5;
		    transition: opacity .5s;
		    -webkit-transition: opacity .5s;
		}

		.full{
			display: none;
		}


		#about h1:after{
			background-color: #8F0CFF;
		}

